.title {
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 5%;
}

.text {
  color: white;
  text-align: left;
  padding: 5%;
  flex-grow: 1; /* Permet au texte de prendre tout l'espace restant */
  display: flex;
  justify-content: center; /* Centrer le texte horizontalement */
  align-items: center; /* Centrer le texte verticalement */
  min-height: 150px; /* Fixe une hauteur minimale pour le texte */
}

.container {
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px; /* Espace entre les conteneurs */
  padding: 0 40px; /* Ajoute des marges sur les côtés */
  justify-items: center;
  background-color: #202020;
}

.subcontainer {
  border-color: #5136b8;
  border-style: solid;
  border-width: 3px;
  border-radius: 50px;
  padding: 5%;
  background-color: #202020;
  min-height: 700px;
  width: 100%;
  margin-bottom: 40px; /* Ajoute de l'espace vertical */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Douce transition */
}

.subtitle {
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0;
  min-height: 60px;
}

.websiteImage {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover; /* Assure que les images restent proportionnées */
}

.horizontalbar {
  margin-top: 5%;
  margin-bottom: 3%;
  width: 40%;
  height: 8px;
  background-color: #5136b8;
  margin-left: 0;
  border-radius: 0 10px 10px 0;
}

@media (min-width: 768px) {
  .horizontalbar {
    height: 15px;
    margin-top: 0%;
  }

  .title {
    font-size: 4rem;
    margin: 0;
    padding: 2%;
    margin-bottom: 5%;
  }

  .subtitle,
  .text {
    font-size: 32px;
    margin-bottom: 3%;
  }

  .text {
    font-size: 20px;
    min-height: 120px; /* Hauteur minimale des textes */
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px; /* Marges latérales pour les écrans larges */
    gap: 40px;
  }

  .subcontainer {
    width: 100%;
    min-height: 700px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .websiteImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .subtitle {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
